@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #0a0f11, #192841, #272930, #1c2031);
    background-size: 300% 300%;
    animation: GradientFlow 20s ease infinite;
}

h1 {
    font-size: 6em;
    color: #ccd6f6;
    text-shadow: 0 0 10px rgba(204, 214, 246, 0.7);
    animation: textTremble 0.2s infinite;
}

@keyframes GradientFlow {
    0%, 100% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
}

@keyframes textTremble {
    0%, 100% { transform: translate(0, 0); }
    25% { transform: translate(-1px, 1px); }
    50% { transform: translate(1px, -1px); }
    75% { transform: translate(-1px, 1px); }
}
